$div_color: #2c3e50;
$hover_color_change: #1b4a69;

$login_background_color: red;
$home_background_color: lightgray;

$login_input_color: #21628d;
$login_button_color: #174e72;

$home_menu_color: whitesmoke;
$add_new_wissensnetz: gold;